<article id="<%= post.id %>">
  <form id="js-vote" method="post" action='/posts/<%= post.id %>/vote' class="inline">
    <button id="js-upvote-button" type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
  </form>
  <h2><a href='/posts/<%= post.id %>'><%= post.title %></a></h2>
  <p>
    <span class='points'><%= erb :"/votes/_vote_points", locals: {post: post} %></span>
    <span class='username'><%= post.username %></span>
    <span class='timestamp'><%= post.time_since_creation %></span>
    <span class='comment-count'><%= post.comment_count %></span>
    <span class='delete'>
      <form id="js-delete" method="post" action="/posts/<%= post.id %>">
        <input type="hidden" name="_method" value="delete">
        <input id="delete-button" name="commit" type="submit" value="delete this post">
      </form>
    </span>
  </p>
</article>
